<%- include('partials/header'); -%>

<div class="container" style="text-align:center;padding-top:5rem;color:white;">
   
    <div style="font-size:3.8vh;font-weight:500;">
            Kullanıcı Sözleşmesi
    </div> 
    <div style="font-size:2vh;font-weight:300;margin-top:1rem;">
      <p>
        Son güncelleme: 15.05.2021
      </p>
   
      1. Sitenin birinci kuralı asla bu site hakkında konuşmamaktır.
    </div>
    

</div>


<%- include('partials/footer'); -%>